*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    color: #242f51;
    font-weight: bold;
}
p{
    font-size: 18px;
    font-family: sans-serif;
    color: #7a7a7a;
}
body{
    .home{
        background-image: url('../img/Home_bg.png');
        background-repeat: no-repeat;
        background-position: bottom;
        height: 100vh;
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: lightcyan;
            .navbar-brand{
                color: #242f51;
                margin-left: 4rem;
                font-size: 30px;
                font-weight: bold;
                span{
                    color: #2563ff;
                }
            }
            .collapse{
                justify-content: flex-end;
                align-items:center;
                .nav-link{
                    color: #242f51;
                    font-weight: 500;
                    margin: 0 1rem;
                }
                .btn{
                    padding: 10px 15px;
                    background-color: #2563ff;
                    border-radius: 50px;
                    border: 3px solid #2563ff;
                    font-weight: bold;
                    font-size: 17px;
                    padding: 0.3rem 1rem;
                    color: white;
                    margin-right: 4rem;
                }
                .btn:hover{
                    background-color: transparent;
                    border: 3px solid #2563ff;
                    color: #2563ff;
                    transition: 0.3s linear;
                }
            }
        }
        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            .col-md-6{
                padding: 3rem 2rem;

                .boxes{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // flex-direction: column;
                    // flex-wrap: wrap;
                    .box1{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: rgb(221, 221, 221);
                        padding: 5px;
                        width: 385px;
                        border-radius: 30px;
                        img{
                            background-color: orange;
                            border-radius: 50%;
                            width: 30px;
                            padding: 5px;
                        }
                        h4{
                            font-family: sans-serif;
                            margin: 0;

                        }
                    }
                    .box2{
                        h1{
                            font-size: 4rem;
                        }
                    }
                    .box3{
                        .btn{
                            padding: 10px 20px;
                            background-color: rgb(0, 89, 255);
                            font-size: 20px;
                            border: 3px solid #2563ff;
                            color: white;
                            border-radius: 30px;
                        }
                        .btn1{
                            background-color: transparent;
                            color: rgb(0, 89, 255);
                            border: 0;
                        }
                        .btn2:hover{
                            background-color: transparent;
                            border: 3px solid #2563ff;
                            color: #2563ff;
                            transition: 0.3s linear;
                        }
                    }
                }
            }
            .col-md-6{
                display: flex;
                align-items: center;
                .img-fluid{
                    width: 70%;
                    margin-left: 8rem;
                }
            }
        }
    }
    .slider{
        width: 100%;
        margin-top: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .container{
            p{
                text-align: center;
            }
            .boxes{
                display: flex;
                align-items: center;
                justify-content: center;
                .box{
                    padding: 0 1rem;
                }
            }
        }
    }
    .features{
        padding-top: 5rem;
        .box{
            display: flex;
            img{
                padding: 2.5rem;
            }
            .quti{
                width: 60%;
            }
        }
    }
    .work{
        padding-top: 5rem;
        height: 600px;
        .md{
            border-left: 1px solid #000;
        }
        .row2{
            margin-top: 8rem;
            .col-md-4{
                padding: 1rem 2rem;
                .rasm{
                    width: 90px;
                    min-width: 90px;
                    height: 90px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                .bg_1{
                    background: #ffecef;
                }
                .bg_2{
                    background: #f4f4ff;
                }
                .bg_3{
                    background: #e4ffee;
                }
                .text1{
                    color: #f55767;;
                }
                .text2{
                    color: #2563ff;
                }
                .text3{
                    color: #40975f;
                }
            }
        }
    }
    .design{
        padding: 4rem;
        .container{
            .row{
                .col-md-6{
                    .box{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        h2{
                            font-size: 2.3rem;
                            padding: 2rem 5rem;
                        }
                        p{
                            padding: 0rem 5rem;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
    .app{
        .container{
            .row{
                .col-md-4{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .rasm{
                        background-color: rgba(85, 255, 158, 0.568);
                        padding:1rem;
                        border-radius: 50%;
                        width: 100px;
                    }
                }
            }
        }
    }
    .built{
        .row{
            .col-md-4{
                h2{
                    font-size: 2.2rem;
                    margin: 0;
                    padding: 0!important;
                    padding-bottom: 2rem!important;
                }
            }
            .col-md-6{
                .boxes{
                    display: flex;
                    align-items: center;
                    .box{
                        h4{
                            font-family: sans-serif;
                            color: #242f51;
                            font-weight: bold;
                            font-size: 20px;
                        }
                        p{
                            font-family: sans-serif;
                            font-size: 15px;
                            font-weight: 200;
                        }
                    }
                }
            }
            .btn{
                padding: 10px 50px;
                background-color: rgb(0, 89, 255);
                font-size: 18px;
                border: 3px solid #2563ff;
                color: white;
                border-radius: 30px;
                font-weight: bold;
            }
            .btn2:hover{
                background-color: transparent;
                border: 3px solid #2563ff;
                color: #2563ff;
                transition: 0.3s linear;
            }
        }
    }
    .pricing{
        // height: 100vh;
        .container{
            .top{
                margin: 0 15rem;
                h2{
                    font-size: 2.5rem;
                    padding: 2rem 0rem;
                }
                p{
                    padding: 1rem 0;
                }
                .btn{
                    padding: 10px 20px;
                    background-color: rgb(0, 89, 255);
                    font-size: 20px;
                    border: 3px solid #2563ff;
                    color: white;
                    border-radius: 30px;
                }
                .btn1{
                    background-color: transparent;
                    color: rgb(0, 89, 255);
                    border: 0;
                }
                .btn2:hover{
                    background-color: transparent;
                    border: 3px solid #2563ff;
                    color: #2563ff;
                    transition: 0.3s linear;
                }
                
            }
            .collapse{
                .row{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    .col-md-4{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 2rem;
                        h2{
                            font-size: 1.8em;
                            font-weight: 400;
                            color: #7a7a7a;
                            span{
                                font-size: 3.5rem;
                                font-weight: bold;
                                color: #242f51;
                            }
                        }
                        h4{
                            color: #242f51;
                            padding: 1rem;
                        }
                        h5{
                            color: #7a7a7a;
                            padding: 1rem;
                        }
                        p{
                            color: #7a7a7a;
                            padding: 0.7rem;
                        }
                        h6{
                            color: #2563ff;
                        }
                        .btn{
                            padding: 10px 30px;
                            background-color: rgb(0, 89, 255);
                            font-size: 20px;
                            border: 3px solid #2563ff;
                            color: white;
                            border-radius: 30px;
                        }
                        .btn1{
                            background-color: transparent;
                            color: rgb(0, 89, 255);
                            border: 0;
                        }
                        .btn2:hover{
                            background-color: transparent;
                            border: 3px solid #2563ff;
                            color: #2563ff;
                            transition: 0.3s linear;
                        }
                    }
                }
            }
        }
    }

    .client{
        padding-top: 5rem;
        height: 100vh;
        .container{
            .row{
                .first{
                    background-image: url('../img/meet_client.png');
                    height: 400px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-right: 5rem!important;
                }
                .col-md-6{
                    h2{
                        font-size: 2.7rem;
                    }
                    .boxes{
                        h4{
                            font-weight: bold;
                            padding-top: 2rem;
                            color: #242f51;
                        }
                        p{
                            color: #7a7a7a;
                            font-family: sans-serif;
                            font-size: 18px;
                        }
                        .quti{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            .quticha{
                                padding-left: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .faq{
        .container{
            .text-center{
                padding: 0 11rem;
            }
            .accordion-item{
                margin-top: 1rem;
            }
        }
    }
    .footer{
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #09142e;
        h3{
            font-weight: bold;
            font-size: 35px;
            span{
                color: #2563ff;
            }
        }
        .link{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            a{
                color: white;
                margin-top: 2rem;
            }
        }
        .icon{
            margin-top: 2rem;
            color: rgba(97, 97, 97, 0.5);
            i{
                padding: 10px;
            }
        }
        p{
            margin-top: 4rem;
        }
    }
}
